.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .title {
    color: #B1D65C;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Borde negro */
  }
  
  